// Answers
.container {
  margin-left: 8px;
  flex: 1;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: auto;
  background: var(--white);
  border-radius: 50px;
  padding: 20px 20px;
  border-radius: 20px !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .12);  
  .answer-group {
    width: 100%;
    display: flex;
    .group {
      flex: 1;
      width: 100%;
    }

    .explain {
      height: 100%;
      width: 400px;
      margin-left: 20px;
    }
  }
  .upload-text-answers {
    margin-top: 20px;
    align-self: flex-start;
  }
}

// Answer
.answer {
  display: flex !important;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  &:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
  }

  &.correct {
    color: #00f418
  }

  &.incorrect {
    color: red;
  }

  &.error {
    border: 1px solid red;
  }

  &+.answer {
    margin-top: 10px;
  }

  .label {
    align-content: center;
  }

  .group {
    display: flex;
    flex: 1;
    margin-left: 4px;

    .input {
      flex: 1;
    }

    .history {
      width: 42px;
    }
  }
}