.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;

  .input {
    font-size: 1.6rem;
    &.error {
      border: 1px solid red !important;
    }
  }

  .front {
    display: flex;
    flex-direction: column;
    
    .status {
      margin: 24px 0;
    }
    .photo {
      user-select: none;
      margin-bottom: 20px;
    }
    .word {
      text-align: center;
      font-size: 2.6rem;
    }
    .pronunciation {
      text-align: center;
      color: #0D6EFD;
    }
  }
  .back {
    display: flex;
    flex-direction: column;
    .definition {
      font-size: 2.2rem;
      font-weight: 800;
      text-align: center;
    }
    
    .example {
      margin-top: 24px;
      text-align: center;
      font-size: 1.6rem;
    }

    .button-group {
      margin-top: 24px;
      width: 100%;
      display: flex;
      justify-content: space-evenly;

      
    }
  }

  .button {
    font-size: 1.6rem;
    border-radius: 999px;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 200px;

    &+.button {
      margin-left: 20px;
    }
  }
}