.container {
  display: flex;
  justify-content: center;
  align-items: center;
  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 28px;
  }

  .caption {
    position: relative;
    display: flex;
    justify-content: center;
    h1 {
      color: var(--black);
      position: absolute;
    }
  }
}

