
.sidebar {
  position: relative;
  .level-select {
    position: fixed;
    left: 112px;
    top: var(--default-layout-header-height);
    margin-top: 16px;
    width: 208px;
    padding: 8px 10px;
    font-size: 1.6rem;
  }
}

// grammarAccordion
.grammar-accordion-container {
  .btn-add {
    margin: 16px 0;
    width: 100%;
  }
}


.grammar-header-container {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  &:hover {
    cursor: pointer;
  }

  &:hover .button-group {
    visibility: visible;
    opacity: 1;
  }
  .button-group {
    // float: right;
    position: absolute;
    right: 28px;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s ease;

    .delete-button {
      margin-left: 6px;
    }
  }
}

.main {
  position: relative;

  .timer {
    position: fixed;
    z-index: 10;
    right: 0;
    margin-right: 20px;
  }

  .show-result-btn {
    position: fixed;
    z-index: 10;
    right: 0;
    bottom: 0;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 12px 20px;
    font-size: 1.6rem;
    background-color: var(--primary);
    border: none;

    &:hover {
      color: var(--primary);
      background-color: var(--white);
      border: 1px var(--primary) solid;
    }
  }
}

// grammar body
.loading {
  height: 100px;
}
