.container {
  display: flex;
  justify-content: center;
}

.OTP-input-container {
  background-color: rgb(135, 135, 135);
  width: 372px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 8px;
  padding: 0 34px;
  .group {
    display: flex;
    flex-direction: column;
    width: 100%;
    .label {
      font-size: 1.6rem;
      color: var(--white);
      margin-bottom: 2px;
    }

    .OTP-input {
      display: flex;
      justify-content: center;
      gap: 12px;
  
      .cell {
        font-size: 2.8rem;
        width: 40px !important;
      }
  
    }
  }

  .buttons-group {
    display: flex;
    justify-content: space-between;
    padding: 0 1px;
    width: 100%;
    .button {
      padding: 12px 24px;
      font-size: 1.6rem;
    }
  }
}