// Header Styles
.header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  .header-nav {
    height: var(--default-layout-header-height);

    .navbar-collapse {
      display: flex;
      flex-direction: row-reverse;

      .navbar-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        // flex: 1;

        .nav-link-item {
          display: flex;
          align-items: center;
          font-weight: bold;
          min-width: 120px;
          color: var(--black) !important;
          opacity: 0.8;
          margin-left: 12px;
          transition: opacity 0.2s;

          &:hover {
            opacity: 1;
          }

          .nav-icon {
            margin-right: 6px;
          }
        }

        
      }
    }
  }
}