.container {
  .main {
    margin-top: 24px;
  }
}
.practice-status {
  display: flex;
  flex-direction: column;
  .topic-name {
    font-size: 1.4rem;
    margin-bottom: 18px;
  }

  .group {
    display: flex;
    .item {
      position: relative;
      padding-left: 14px;
      &+.item {
        margin-left: 24px;
      }

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 10px;
        height: 10px;
        border-radius: 50%;
      }

    }

    .memorized::before {
      background-color: greenyellow;
    }

    .unmemorized::before {
      background-color: lightcoral;
    }

    .unanswered::before {
      background-color: gray;
    }

  }
}