.sidebar {
  .list-group {
    .list-group-item {
      user-select: none;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.accordion-header button {
  font-size: 1.6rem;
}

.date-average-chart {
  display: flex;
  height: calc(100vh - 2 * var(--default-layout-header-height));
  padding: 0 20px;
  background-color: var(--white);
  .line {
    flex: 1;
  }
}

