.container {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  background-color: rgba(var(--bs-tertiary-bg-rgb));
  height: var(--bottombar-height) !important;
  white-space: nowrap;
  gap: 1rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;

  &::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
  }
  &::-webkit-scrollbar {
    height: 8px;
  }
  &::-webkit-scrollbar-track {
    background: #f4f4f4;
  }
}
