// questions
.container {

  .button-group
  {
    position: fixed;
    z-index: 5;
    top: calc(var(--default-layout-header-height) + 8px);
    right: 20px;

    .cancel-button {
      margin-right: 8px;
    }

  }
  .add-button {
    width: 100%;
    margin: 8px 0;
  }
}

// question 
.question {

  display: flex;
  flex-direction: column;
  justify-content: center;

  .group {
    display: flex;
    padding: 0 20px;

    .wrapper {
      flex: 3;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .photo {
      flex: 2;
    }
  }

  .audio {
    margin-top: 20px;
  }

}

  
