// Menu wrapper
.menu-list {
  min-width: 200px;

  ::-webkit-scrollbar {
    display: none;
  }

  .menu-item {
    padding: 11px 16px;
    margin-left: 0;
  }
}

.menu-popper {
  padding-bottom: 8px;
}

.menu-body {
  overflow-y: auto;
}
