.container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  margin: auto;
  background: var(--white);
  border-radius: 50px;
  padding: 20px;
  border-radius: 20px !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .12);
  .play-button {
    display: flex;
    align-self: center;
    margin-right: 4px;
    padding: 6px;
    font-size: 2.875rem;
    background: inherit;
    color: var(--primary);
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

  .upload-audio {
    margin-right: 20px;
  }

  .progress-bar {
    flex: 1;
  }
}